footer{
  height: 100%;
  background-color:#A89F97;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}

.city-info{
  color: #F6F3ED;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  max-width: 250px;
  margin: 20px;
}

.city-info img{
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin: 10px;
}

#footer-map{
  display: grid;
  margin: 30px;
  border: 1px solid rgb(100, 100, 100);
  width: 340px;
  height: 340px;
  background-color: #F6F3ED;
  position: relative;
}

.grid-cell{
  background-color: rgb(236, 236, 236);
  border: 1px solid #a2a2a260;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.building-marker{
  position: absolute;
  z-index: 2;
  background-size: cover;
  background-position: center;
  /* border: 1px solid #444; */
  background-repeat: no-repeat;
  pointer-events: none; /* Optional: avoids interfering with clicks */
}

.links{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  align-self: flex-start;
}

.links label{
  color: #F6F3ED;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  margin: 60px 50px 0px;
  text-wrap: nowrap;
}

.quick-links{
  margin: 0px;
}

.quick-links li{
  margin: 20px;
}

ul{
  color: #F6F3ED;
}

.quick-links li a{
  font-size: 20px;
  color:#F6F3ED;
  text-decoration: none;
}

.quick-links li a:hover{
  color: #D1AFA5;
  text-decoration: underline;
}

@media (max-width: 768px){
  footer{
    flex-direction: column;
    height: 100%;
  }

  .city-info{
    margin: 10px;
    font-size: 14px;
  }

  .city-info img{
    width: 150px;
    height: 150px;
  }

  .city-info h3{
    margin-bottom: 0px;
  }

  .footer-city-grid{
    width: 400px;
    height: 400px;
  }

  .links label{
    margin: 5px;
    font-size: 20px;
  }

  .links{
    align-self: unset;
  }

  .quick-links li{
    margin: 5px;
  }

  .quick-links li a{
    font-size: 15px;
  }
}

@media (min-width: 769px) and (max-width: 1024px){
  footer{
    height: 100%;
  }

  .city-info{
    font-size: 18px;
  }

  .city-info h3{
    margin-bottom: 0px;
  }

  .city-info img{
    width: 180px;
    height: 180px;
  }

  .footer-city-grid{
    width: 250px;
    height: 250px;
    align-self: flex-end;
    margin: 20px;
  }
  
  .links label{
    margin: 40px 40px 0px 10px;
    font-size: 22px;
  }

  .quick-links{
    padding-left: 20px;
  }

  .quick-links li{
    margin: 20px;
  }

  .quick-links li a{
    font-size: 20px;
  }
}