.resources-manager{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#construction-resource-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 10px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.resource{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(183, 183, 183);
  border-radius: 7px;
  box-shadow: 3px 2px 6px rgb(0, 0, 0, 0.05);
}

.resource:hover{
  box-shadow: 6px 5px 5px rgb(0, 0, 0, 0.1);
}

.resource img{
  height: 90px;
  width: 90px;
  object-fit: cover;
  padding: 4px;
  border-radius: 20px;
  align-self: flex-end;
}

.resource-info{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  color: black;  
  width: 100%;
}

.resource-info h4{
  font-size: 17px;;
  padding: 4px 0px;
  margin: 5px 0px;
}

.resource-info p{
  padding: 1px;
  margin: 0px 6px;;
  font-size: 12px;
}

.resource-info .amount{
  align-self: flex-end;
}

.resource-info button{
  padding: 5px;
  margin: 6px;
  width: 70px;
  background-color: rgb(0, 0, 0, 0.6);
  border: 0px;
  border-radius: 5px;
  font-size: 13px;
  color: white;
  cursor: pointer;
  align-self: flex-end;
}

.resource-info button:hover{
  background-color: rgb(0, 0, 0, 0.8);
}

@media (max-width: 768px){
  #construction-resource-list{
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    max-height: 340px;
  }
  .resource img{
    height: 70px;
    width: 70px;
    padding: 7px;
    border-radius: 15px;
  }
}

@media (min-width: 769px) and (max-width: 1024px){
  #construction-resource-list{
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 5px;
    max-height: 345px;
  }
  .resource img{
    height: 50px;
    width: 60px;
  }
}

@media (min-width: 1025px) and (max-width: 1200px){
  #construction-resource-list{
    gap: 10px;
    padding: 5px;
    max-height: 225px;
  }

  .resource img{
    height: 60px;
    width: 70px;
    padding: 5px;
    border-radius: 13px;
  }
}

@media (min-width: 1201px){
  #construction-resource-list{
    gap: 10px;
    padding: 10px;
    max-height: 345px;
  }

  .resource img{
    height: 80px;
    width: 80px;
    padding: 5px;
    border-radius: 20px;
  }
}