.city-feedback {
  padding: 40px 0;
  display: flex;
  justify-content: center;
}

.feedback-container {
  display: flex;
  gap: 40px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 12px;
}

h2{
  margin: 30px 40px 10px 20px;
}

.city-infrastructure label{ 
  display: block;
  font-size: 35px;
  font-weight: bold;
  margin: 80px 210px 10px;
}

.filter-row{
  height: 30px;
  display: flex;
  justify-content: right;
  margin: 10px;
}

.city-infrastructure{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-block{
  border-radius: 10px;
  width: 900px;
  margin: 5px 0px 80px;
  display: flex;
  flex-direction: column;
}

#infrastructure-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  padding: 8px;
  margin: 10px 0px;
  overflow-y: scroll;
  scrollbar-width: none;
  max-height: 410px;
  /* border: 1px solid rgb(183, 183, 183); */
}

.infrastructure{
  display: flex;
  flex-direction: row;
  background-color: rgb(246, 246, 246);
  border: 1px solid rgb(175, 175, 175);
  border-radius: 9px;
  padding: 10px;
}

.infrastructure img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 13px;
  margin: 5px;
}

.infrastructure-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 10px;
}

.more-button-container{
  display: flex;
  justify-content: center;
}

.more-button{
  height: 30px;
  width: 70px;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  margin: 10px;
  background-color: rgb(250, 197, 51, 0);
  border: 0px; 
}

.more-button:hover{
  text-decoration: underline;
}

@media (max-width: 768px){
  label{
    font-size: 25px;
    margin: 100px 0px 10px;
  }
  .list-block{
    width: 480px;
    margin: 5px 0px 40px;
  }
  .filter-row{
    margin-right: 10px;
  }
  #filter-search{
    font-size: 10px;
  }
  #infrastructure-list{
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
  .infrastructure{
    padding: 5px;
  }
  .infrastructure img{
    height: 75px;
    width: 75px;
    border-radius: 8px;
    margin: 3px;
  }
  .infrastructure-info{
    font-size: 8px;
  }
  .more-button{
    font-size: 12px;
    height: 14px;
    margin: 4px;
  }
}

@media(min-width: 769px) and (max-width: 1024px){
  label{
    font-size: 31px;
    margin: 90px 0px 10px;
  }
  .list-block{
    width: 700px;
  }
  .filter-row{
    margin-right: 10px;
  }
  #filter-search{
    font-size: 11px;
  }
  #infrastructure-list{
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .infrastructre img{
    height: 90px;
    width: 90px;
    border-radius: 10px;
  }
  .more-button{
    height: 18px;
    margin: 7px;
  }
}

@media (min-width: 1025px) and (max-width: 1200px){
  label{
    font-size: 35px;
    margin: 100px 180px 10px;
  }
  .list-block{
    width: 800px;
  }
  #filter-search{
    font-size: 12px;
  }
  #infrastructure-list{
    gap: 18px;
    max-height: 410px;
  }
  .infrastructure img{
    height: 90px;
    width: 90px;
    border-radius: 10px;
  }
  .more-button{
    height: 20px;
    margin: 7px;
  }
}

@media(min-width: 1201px){
  label{
    font-size: 40px;
    margin: 100px 180px 10px;
  }
  .list-block{
    width: 900px;
  }
  #filter-search{
    font-size: 14px;
  }
  #infrastructure-list{
    gap: 20px;
    max-height: 435px;
  }
  .infrastructure img{
    height: 100px;
    width: 100px;
    border-radius: 10px;
  }
  .more-button{
    height: 25px;
    margin: 7px;
  }
}